.chat-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    overflow-x: hidden;
    z-index: 9999;
    transition: all 1s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.chat-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.chat-close-button{
    position: sticky;
    top: 10px;
    left: 240px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.sendMsg-container {
    position: sticky;
    bottom: 0;
    right: 20px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.send-message-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

.sendMsg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sendMsg input {
    width: 80%;
    height: 50px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}

.sendMsg input:hover {
    border: 1px solid #000;
}

.sendMsg button {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
    padding: 0 10px;
}

.sendMsg button:hover {
    border: 1px solid #000;
}