@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');

:root {
    --green: #699A07;
    --orange: #FF9D00;
    --blackish: #1d1d1d;
    --gray: rgba(0, 0, 0, 0.7);
    --grayish: #E5E5E5;
    -clear: rgba(248, 248, 248, 1);
    --white: #FFFFFF;
    --roboto: 'Roboto', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--ubuntu);
}

.navbar {
    color: var(--white) !important;
    font-weight: 700;
    margin: 0;
    font-family: var(--roboto);
    font-size: 15px;

}

.navbar:hover {
    color: #FF9D00 !important;
}
.navbar:active {
    color: #FF9D00 !important;
}

.fondo {
    font-family: var(--roboto);
    background-color: #699A07;
    display: flex;
    flex-direction: row;
    padding: 0;
    color: white;
    margin: 0;

}

.letras {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    margin-left: 5rem;
}

.carousel {
    width: 50%;
    height: 80%;
    border-radius: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin: 0rem 3rem;
    background: rgba(29, 29, 29, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 600px){
    .carousel{
        width: 100%;
        height: 40%;
        margin:1rem;
        padding:1rem;
        
    }
}

@media (min-width: 700px){
    .carousel{
        width: 50%;
        height: 80%;
        margin:1rem;
        padding:1rem;
        
    }
}

.offcanvas{
    color:red !important;
    display:flex;
    flex-direction: column;
}